@keyframes gradient {
  from {
    opacity: 0;
    background-size: 33% 100%;
  }
  10% {
    opacity: 1;
  }

  50% {
    background-size: 100% 100%;
  }

  to {
    background-size: 400% 400%;
  }
}

@keyframes reveal {
  50% {
    opacity: 1;
    transform: scale(3);
  }
}

@keyframes scale-y {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes rise {
  to {
    height: 100%;
  }
}
