@keyframes bounce-bottom {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-3px);
  }

  55% {
    transform: translateY(0);
  }

  65% {
    transform: translateY(-2px);
  }

  82% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  40% {
    opacity: 1;
    transform: scale(1.1);
  }

  60%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scale-to-right {
  to {
    width: 100%;
  }
}

@keyframes translate-down {
  to {
    transform: translateY(0);
  }
}

@keyframes translate-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-60%);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
